/* A caixa de categorias */
.combo-box {
    -fx-background-color: transparent;
    -fx-background-radius: 25px;

    -fx-border-color: white;
    -fx-border-width: 3px;
    -fx-border-radius: 25px;

    -fx-prompt-text-fill: white;
    -fx-font-family: 'Segoe Print';
    -fx-font-weight: bold;
    -fx-mark-color: #cccccc;
    -fx-text-base-color: white;
    -fx-padding: 10px;
}

.combo-box .list-cell {
    -fx-text-fill: white;
}

/* Para quando a caixa estiver aberta 'juntar' ela com a lista */
.combo-box:showing {
    -fx-background-radius: 25 25 0 0;
    -fx-border-radius: 25 25 0 0;
    -fx-border-width: 3;
}

/* A lista de categorias */
.combo-box-popup .list-view {
    -fx-background-color: #145924;
    -fx-background-radius: 0 0 25 25;
    -fx-border-radius: 0 0 25 25;
    -fx-border-color: white;
    -fx-border-width: 0 3px 3px 3px;
    -fx-padding: 10px;
}

/* Cada categoria da lista */
.combo-box-popup .list-cell {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-family: 'Segoe Print';
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 5 10 5 10;
    -fx-alignment: center;
}

/* Quando passa o mouse por cima ou seleciona */
.combo-box-popup .list-cell:filled:hover,
.combo-box-popup .list-cell:filled:selected {
    -fx-text-fill: #ffa000;
    -fx-cursor: hand;
}